label {
    font-size: 15px;
}

code {
    white-space: break-spaces !important;
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.text-center {
    text-align: center;
}

.skinning-text-morphing{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 20vw;
    height: 20vw;
    overflow: visible;
    cursor: pointer;
}

.animete-motion-example {
    background-color: #94c3d3;
    width: calc(100% + 200px);
    margin-left: -100px;
}
